@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset kecil biar rapi */
html,
body {
  padding: 0;
  margin: 0;
}

/* Default font biar enak dilihat */
body {
  @apply bg-gray-100 text-gray-900;
}

p {
  @apply text-gray-800;
}

li {
  @apply text-gray-800;
}